# Data Science Tool and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciKitlearn

|Data Science Tools|
|------------------|
|Python            |
|R-Studio          |
|TensorFlow        |

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

* Listing popular laguages of data science
* Listing popular tools of data science
* Creating tables in markdown cells
* Performing arithmetic operations in python

## Author
Syed Bari